In [1]:
import numpy as np
data=[23,34,55,56,57,35,4,47,88,54,22]
range_value=max(data)-min(data)
range_value

84

In [21]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from scipy.stats import skew
df = pd.DataFrame(data)
print(df.skew())

0    0.192376
dtype: float64

In [25]:
df = pd.DataFrame(data)
print(df.kurtosis())

0    0.529726
dtype: float64

In [45]:
#covarience and corelation


x=np.random.randint(30,50,100)
y=x*2+np.random.normal(1,20,100)
df=pd.DataFrame({'age':x,'salary':y})
df.head()

   age      salary
0   49   99.437257
1   41   73.626524
2   49  116.065624
3   45   82.739414
4   36  109.694353

In [47]:
correlation=df.corr(method='pearson')
print(f'correlation=\n{correlation}')

correlation=
             age    salary
age     1.000000  0.483502
salary  0.483502  1.000000

In [51]:
covarience=df.cov()
print(f'covarience=\n{covarience}')

covarience=
              age      salary
age     39.735253   72.765732
salary  72.765732  570.007859